.main-grid{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0;
    top: 10;
    width: 100%;
    height: 100%;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
}

.title-container{
    background: url("http://2.bp.blogspot.com/-dIhO_KdNe3g/Ut0jk3F5WKI/AAAAAAAABQM/cJ6DdvoteTc/s1600/stockholm-wall++(2).jpg") center no-repeat;
    text-align: center;
    margin-top: 2em;
}

.title-container h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.title-container p{
    color: white;
    font-size: 20px;
    padding: 1em;
}

.right-grid{
    background: #005AA7;
    margin-top:2em;
    height: 750px;
    padding-left: 2em;
}

.form-container{
    background: #005AA7;
    padding-top: 100px;
    padding-right: 15px;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px rgb(1, 29, 54);
    width: 25%;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
}
  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #005AA7 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #49aee9;
    color: #fff;
    font-weight: 100;
  }
  
  button:active {
    outline: none;
  }
  
  .weather__info {
    width: 60%;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .weather__value {
    color: #fff;
    font-size: 25px;
  }
  
  .weather__error {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
  }